* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #eeeeee;
}

.menu-fixo-topo {
    height: 85px; 
    width: 100%;
    background-color: #04a904;
    box-shadow: 0px 3px 16px rgba(50, 50, 50, 0.15);
    border-bottom: 2px solid darkgray;
}

.menu-fixo-topo .content {
    margin: 0 auto;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-fixo-topo .logo img {
    margin-top: 10px;
    width: auto;
    height: 100px;
    cursor: pointer;
}

.menu-topo nav ul {
    display: flex;
    margin-top: -25px;
}

.menu-topo nav ul li {
    margin-left: 85px;
    margin-top: -5px;
    list-style: none;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: white;
}

.menu-topo nav ul a {
    text-decoration: none;
    color: black;
}

section.main-pg {
   display: flex;
}


section.main-pg .left {
    width: 70%;
}

section.main-pg .left .content {
    margin: 80px 80px 0;
    padding: 0 5%;
}

section.main-pg .left h1 {
    font-size: 38px;
    color: #04a904;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

section.main-pg .left p {
    padding-top: 18px;
    font-size: 21px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

section.main-pg .left .btn-saiba-mais {
    margin-top: 30px;
}

section.main-pg .left .btn-saiba-mais button {
    border: none;
    border-radius: 12px;
    height: 50px;
    width: 180px;
    font-size: 20px;
    background-color: #04a904;
    color: white;
    outline: none;
    cursor: pointer;
}

section.main-pg .left .btn-saiba-mais button:hover {
    background-color: rgba(0, 100, 0, 0.8);
}

section.main-pg .right .content img{
    margin-top: 60px;
    margin-left: -95px;
    height: 450px;
    width: auto;
}